/* font-family: 'Inter', sans-serif; */
/* font-family: 'Roboto', sans-serif; */


* {
box-sizing: border-box;
margin: 0;
}

.header {
width: calc(1440 / 1440 * 100vw);
height: calc(80 / 1440 * 100vw);
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-between;
}

.container_titles {
display: flex;
justify-content: left;
align-items: center;
}

.Logo_header {
width: calc(222 / 1440 * 100vw);
margin-left: calc(30 / 1440 * 100vw);
}

.header_title {
display: flow;
justify-content: start;
padding-left: calc(30 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: calc(36 / 1440 * 100vw);
color: #787878;
}

.container_buttons {
display: flex;
justify-content: right;
align-items: center;
}

.registry {
margin-right: calc(40 / 1440 * 100vw);
background-color: #fff;
border: 0;
width: calc(157 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-size: calc(24 / 1440 * 100vw);
color: #787878;
text-decoration: none;
}

.btn {
border: 0;
background-color: #fff;
}

.join {
border: 0;
background-color: #fff;
width: calc(60 / 1440 * 100vw);
margin-right: calc(50 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: calc(24 / 1440 * 100vw);
color: #1A226B;
}

.main_card {
position: absolute;
width: calc(600 / 1440 * 100vw);
/* height: calc(383 / 1440 * 100vw); */
padding-bottom: calc(110 / 1440 * 100vw);
margin-left: calc(403 / 1440 * 100vw);
margin-top: calc(105 / 1440 * 100vw);
box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.entry_title {
font-size: 50px;
font-style: normal;
font-family: 'Roboto';
color: #787878;
display: flex;
justify-content: center;
padding-top: calc(26 / 1440 * 100vw);
}

.box-1 {
display: flex;
justify-content: start;
flex-direction: column;
margin-left: calc(40 / 1440 * 100vw);
margin-right: calc(40 / 1440 * 100vw);
}

.email {
font-size: 16px;
font-family: 'Roboto';
font-weight: 700;
color: #787878;
}

.input_email {
height: calc(49 / 1440 * 100vw);
box-sizing: border-box;
background: #FFFFFF;
border: 2px solid #787878;
color: #787878;
padding-left: calc(15 / 1440 * 100vw);
font-size: 28px;
font-weight: 700;
border-radius: 0;
}

input::-webkit-input-placeholder {
color: #ccc;
font-size: calc(28 / 1440 * 100vw);
margin-left: calc(15 / 1440 * 100vw);
vertical-align: middle;
}

.input_email:focus, input:focus{
outline: none;
}

.box-2 {
display: flex;
justify-content: start;
flex-direction: column;
margin-left: calc(40 / 1440 * 100vw);
margin-right: calc(40 / 1440 * 100vw);
margin-top: calc(15 / 1440 * 100vw);
}

.password {
font-size: 16px;
font-family: 'Roboto';
font-weight: 700;
color: #787878;
}

.input_password {
height: calc(49 / 1440 * 100vw);
box-sizing: border-box;
background: #FFFFFF;
border: 2px solid #787878;
color: #787878;
padding-left: calc(15 / 1440 * 100vw);
font-size: 28px;
font-weight: 700;
border-radius: 0;
}

.button_card {
width: calc(180 / 1440 * 100vw);
height: calc(52 / 1440 * 100vw);
background-color: #1A226B;
color: #fff;
font-size: 24px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
position: relative;
left: calc(210 / 1440 * 100vw);
top: calc(80 / 1440 * 100vw);
}


@media screen and (max-width: 768px) {
.header {
width: calc(768 / 768 * 100vw);
}

.Logo_header {
width: calc(124 / 768 * 100vw);
}

.header_title {
font-size: calc(24 / 768 * 100vw);
}

.registry {
display: flex;
justify-content: right;
font-size: calc(16 / 768 * 100vw);
}

.join {
font-size: calc(16 / 768 * 100vw);
}

.main_card {
position: absolute;
width: calc(600 / 768 * 100vw);
/* height: calc(383 / 768 * 100vw); */
margin-left: calc(84 / 768 * 100vw);
margin-top: calc(80 / 768 * 100vw);
padding-bottom: calc(100 / 768 * 100vw);
}

.entry_title {
font-size: calc(50 / 768 * 100vw);
padding-top: calc(26 / 768 * 100vw);
}

.box-1 {
margin-left: calc(45 / 768 * 100vw);
margin-right: calc(45 / 768 * 100vw);
}

/* .email {
font-size: 16px;
font-family: 'Roboto';
font-weight: 700;
color: #787878;
} */

.input_email {
height: calc(45 / 768 * 100vw);
padding-left: calc(15 / 768 * 100vw);
font-size: 28px;
font-weight: 700;
}

input::-webkit-input-placeholder {
color: #ccc;
font-size: calc(28 / 768 * 100vw);
margin-left: calc(15 / 768 * 100vw);
vertical-align: baseline;
}

.box-2 {
margin-left: calc(45 / 768 * 100vw);
margin-right: calc(46 / 768 * 100vw);
margin-top: calc(15 / 768 * 100vw);
}

.password {
font-size: 16px;
font-family: 'Roboto';
font-weight: 700;
color: #787878;
}

.input_password {
height: calc(49 / 768 * 100vw);
padding-left: calc(15 / 768 * 100vw);
font-size: 28px;
}

.button_card {
width: calc(180 / 768 * 100vw);
height: calc(52 / 768 * 100vw);
font-size: calc(24 / 768 * 100vw);
position: relative;
left: calc(210 / 768 * 100vw);
top: calc(80 / 768 * 100vw);
}
}
