* {
box-sizing: border-box;
margin: 0;
}

.header {
width: calc(1440 / 1440 * 100vw);
height: calc(80 / 1440 * 100vw);
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-between;
}

.container_titles {
display: flex;
justify-content: left;
align-items: center;
}

.Logo_header {
width: calc(222 / 1440 * 100vw);
margin-left: calc(30 / 1440 * 100vw);
}

.header_title {
padding-left: calc(30 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: calc(36 / 1440 * 100vw);
color: #787878;
}

.container_buttons {
display: flex;
align-items: center;
}

.registry {
margin-right: calc(40 / 1440 * 100vw);
background-color: #fff;
border: 0;
width: calc(157 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-size: calc(24 / 1440 * 100vw);
color: #1A226B;
}

.join {
border: 0;
background-color: #fff;
width: calc(60 / 1440 * 100vw);
margin-right: calc(50 / 1440 * 100vw);
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: calc(24 / 1440 * 100vw);
color: #787878;
text-decoration: none;
}

.main_card {
position: absolute;
left: calc(420 / 1440 * 100vw);
top: calc(180 / 1440 * 100vw);
width: calc(600 / 1440 * 100vw);
/* height: calc(875 / 1440 * 100vw); */
margin-bottom: calc(875 / 1440 * 100vw);
box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
background-color: #fff;
}

.card_header {
display: flex;
justify-content: center;
margin-top: calc(28 / 1440 * 100vw);
}

.card_title {
font-family: 'Roboto';
font-weight: 700;
color: #787878;
font-size: 50px;
}

.main_input {
display: flex;
justify-content: left;
flex-direction: column;
margin-top: calc(20 / 1440 * 100vw);
padding-left: calc(45 / 1440 * 100vw);
padding-right: calc(45 / 1440 * 100vw);
}

.email {
position: absolute;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #787878;
padding-bottom: calc(7 / 1440 * 100vw);
}

.error_label {
display: flex;
justify-content: right;
color: red;
font-size: 16px;
font-family: 'Roboto';
font-weight: 700;
padding-bottom: calc(7 / 1440 * 100vw);
}

.input_email {
height: calc(49 / 1440 * 100vw);
box-sizing: border-box;
background: #FFFFFF;
border: 2px solid #787878;
color: #787878;
padding-left: calc(15 / 1440 * 100vw);
padding-top: calc(7 / 1440 * 100vw);
font-size: 28px;
font-weight: 700;
border-radius: 0;
}

input::-webkit-input-placeholder {
color: #ccc;
font-size: calc(28 / 1440 * 100vw);
margin-left: calc(15 / 1440 * 100vw);
vertical-align: middle;
}

.input_email:focus, input:focus{
outline: none;
}


.password {
position: absolute;
top: 19%;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #787878;
padding-top: calc(10 / 1440 * 100vw);
padding-bottom: calc(7 / 1440 * 100vw);
}

.input_password {
height: calc(49 / 1440 * 100vw);
box-sizing: border-box;
background: #FFFFFF;
border: 2px solid #787878;
color: #787878;
padding-left: calc(15 / 1440 * 100vw);
padding-top: calc(7 / 1440 * 100vw);
font-size: 28px;
font-weight: 700;
border-radius: 0;
}

.confirm_password {
position: absolute;
top: 27%;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #787878;
padding-top: calc(10 / 1440 * 100vw);
padding-bottom: calc(7 / 1440 * 100vw);
}

.input_confirm_pasword {
height: calc(49 / 1440 * 100vw);
box-sizing: border-box;
background: #FFFFFF;
border: 2px solid #787878;
color: #787878;
padding-left: calc(15 / 1440 * 100vw);
padding-top: calc(7 / 1440 * 100vw);
font-size: 28px;
font-weight: 700;
border-radius: 0;
}

.gender {
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #787878;
padding-top: calc(10 / 1440 * 100vw);
padding-bottom: calc(7 / 1440 * 100vw);
}

.gender_container {
display: flex;
justify-content: start;
flex-direction: column;
}

.box-1 {
display: flex;
flex-direction: row;
padding-bottom: calc(5 / 1440 * 100vw);
}

.box-2 {
display: flex;
flex-direction: row;
}

.text_checkbox {
font-size: calc(16 / 1440 * 100vw);
font-family: 'Roboto';
font-weight: 400;
color: #787878;
padding-left: calc(7 / 1440 * 100vw);
}

.gender_checkbox {
position: relative;
cursor: pointer;
}

.gender_checkbox::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: calc(20 / 1440 * 100vw);
height: calc(20 / 1440 * 100vw);
border-radius: 50%;
transform: translate(-50%, -50%);
background-color: white;
border: 2px solid #787878;
} 

.gender_checkbox:checked::after {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: calc(15 / 1440 * 100vw);
height: calc(15 / 1440 * 100vw);
border-radius: 50%;
background-color: #787878;
transform: translate(-50%, -50%);
visibility: visible;
}

.about_self {
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #787878;
padding-top: calc(10 / 1440 * 100vw);
padding-bottom: calc(7 / 1440 * 100vw);
}

.area_about_self {
width: calc(510 / 1440 * 100vw);
height: calc(246 / 1440 * 100vw);
border: 2px solid #787878;
font-size: 28px;
resize: none;
}

.area_about_self::placeholder {
font-size: 28px;
color: #ccc;
font-weight: 700;
padding-left: calc(15 / 1440 * 100vw);
}

.area_about_self:focus, input:focus{
outline: none;
}

.container_accept {
display: flex;
justify-content: start;
flex-direction: row;
margin-top: calc(20 / 1440 * 100vw);
}

.accept_text {
padding-left: calc(10 / 1440 * 100vw);
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #787878;
}

.container_accept input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: calc(24 / 1440 * 100vw);
height: calc(24 / 1440 * 100vw);
border: 2px solid #787878;
transition: 0.2s all linear;
outline: none;
position: relative;
}
  
.container_accept input:checked {
box-shadow: inset 0px 0px 0px calc(4 / 1440 * 100vw) #ffffff;
background-color: #787878;
}

.checkbox_text {
padding-left: calc(10 / 1440 * 100vw);
padding-top: calc(7 / 1440 * 100vw);
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #787878;
}

.registry_btn {
margin-left: calc(170 / 1440 * 100vw);
margin-top: calc(80 / 1440 * 100vw);
margin-bottom: calc(20 / 1440 * 100vw);
width: calc(180 / 1440 * 100vw);
height: calc(52 / 1440 * 100vw);
background-color: #1A226B;
color: #fff;
font-family: 'Roboto';
font-size: calc(24 / 1440 * 100vw);
font-weight: 700;
vertical-align: middle;
}

@media screen and (max-width:768px) {
.main_card {
position: absolute;
left: calc(84 / 768 * 100vw);
top: calc(160 / 768 * 100vw);
width: calc(600 / 768 * 100vw);
margin-bottom: calc(875 / 768 * 100vw);
}
.card_header {
display: flex;
justify-content: center;
margin-top: calc(28 / 1440 * 100vw);
}

.card_title {
font-size: calc(50 / 1440 * 100vw);
}

.main_input {
margin-top: calc(20 / 768 * 100vw);
padding-left: calc(45 / 768 * 100vw);
padding-right: calc(45 / 768 * 100vw);
}

.email {
padding-bottom: calc(7 / 768 * 100vw);
}

.input_email {
height: calc(49 / 768 * 100vw);
padding-left: calc(15 / 768 * 100vw);
padding-top: calc(7 / 768 * 100vw);
font-size: calc(28 / 768 * 100vw);
}
input::-webkit-input-placeholder {
color: #ccc;
font-size: calc(28 / 768 * 100vw);
margin-left: calc(15 / 768 * 100vw);
}

.password {
font-family: 'Roboto';
font-weight: 700;
font-size: calc(16 / 768 * 100vw);
padding-top: calc(10 / 768 * 100vw);
padding-bottom: calc(7 / 768 * 100vw);
}

.input_password {
height: calc(49 / 768 * 100vw);
padding-left: calc(15 / 768 * 100vw);
padding-top: calc(7 / 768 * 100vw);
font-size: calc(28 / 768 * 100vw);
}

.confirm_password {
font-size: calc(16 / 768 * 100vw);
padding-top: calc(10 / 768 * 100vw);
padding-bottom: calc(7 / 768 * 100vw);
}
.input_confirm_pasword {
height: calc(49 / 786 * 100vw);
padding-left: calc(15 / 768 * 100vw);
padding-top: calc(7 / 768 * 100vw);
font-size: calc(28 / 768 * 100vw);

}

.gender {
font-size: calc(16 / 768 * 100vw);
padding-top: calc(10 / 768 * 100vw);
padding-bottom: calc(7 / 768 * 100vw);
}

.box-1 {
padding-bottom: calc(5 / 768 * 100vw);
}

.text_checkbox {
font-size: calc(16 / 768 * 100vw);
padding-left: calc(7 / 768 * 100vw);
}
.gender_checkbox::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: calc(20 / 768 * 100vw);
height: calc(20 / 768 * 100vw);
} 

.gender_checkbox:checked::after {
content: '';
width: calc(15 / 768 * 100vw);
height: calc(15 / 768 * 100vw);
}

.about_self {
font-size: calc(16 / 768 * 100vw);
padding-top: calc(10 / 768 * 100vw);
padding-bottom: calc(7 / 768 * 100vw);
}

.area_about_self {
width: calc(510 / 768 * 100vw);
height: calc(246 / 768 * 100vw);
font-size: calc(28 / 768 * 100vw);
}

.area_about_self::placeholder {
font-size: calc(28 / 768 * 100vw);
padding-left: calc(15 / 768 * 100vw);
}
.container_accept {
display: flex;
justify-content: start;
flex-direction: row;
margin-top: calc(20 / 1440 * 100vw);
}

.accept_text {
padding-left: calc(10 / 768 * 100vw);
font-size: calc(14 / 768 * 100vw);
}

.container_accept input {
width: calc(24 / 768 * 100vw);
height: calc(24 / 768 * 100vw);
}
  
.container_accept input:checked {
box-shadow: inset 0px 0px 0px calc(4 / 768 * 100vw) #ffffff;
background-color: #787878;
}

.checkbox_text {
padding-left: calc(10 / 768 * 100vw);
padding-top: calc(7 / 768 * 100vw);
font-size: calc(14 / 768 * 100vw);
}
.registry_btn {
margin-left: calc(170 / 768 * 100vw);
margin-top: calc(80 / 768 * 100vw);
margin-bottom: calc(20 / 768 * 100vw);
width: calc(180 / 768 * 100vw);
height: calc(52 / 768 * 100vw);
font-size: calc(24 / 768 * 100vw);
}
}